NEXTCLOUD_BASE_URL=https://cloud.example.com #hier die Basis URL zu Deiner Nextcloud eintragen
NEXTCLOUD_ADMIN_USERNAME=polladmin #hier den Admin der Nextcloud bzw. einen Account mit den nötigen Berechtigungen eintragen
NEXTCLOUD_ADMIN_APP_PASSWORD=ganzgeheimesapppasswortdeinesnextcloudadmins #App-Passwort des Nextcloud-Admins-Accounts eintragen
